
  .add_form {
    padding-left: 5%;
    overflow-y: hidden;
  }
  
  .add_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1%;
  }
  
  .add_name {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #070f14;
  }
  
  .add_input {
    padding-left: 3%;
  }
  
  .add_button {
    cursor: pointer;
    background-color: hsl(209, 87%, 65%);
    border-radius: 0.4rem;
    border-color: black;
    font-size: 110%;
    height: 2%;
  }
  