.h3{
  font-weight: 800;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
  .add_form {
    /* overflow-y: hidden; */
    display: flex;
    justify-content: space-evenly;
  }

  .add_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3%;
    justify-content: space-between;
    width: 400px;
  }

  .add_name {
    font-size: large;
    color: #070f14;
  }

  .add_input {
    padding-left: 3%;
  }

  .add_button {
    cursor: pointer;
    background-color: hsl(209, 87%, 65%);
    border-radius: 0.4rem;
    border-color: black;
    font-size: 110%;
    height: 2%;
  }
