*{
  /* font-family: 'Syne Mono', monospace; */
  font-family: 'Exo 2', sans-serif;
}

.app {
  text-align: center;
  overflow-x: hidden;
  background-color: #ffeab0;
  height: 100vh;
}

.fg{
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: #ffeab0; */
}

.font{
  font-size: 10px;
  color: gray;
  
}

.content{
  margin: 10px;
}

.column{
  display: flex;
  flex-flow: column wrap;
}

.input_field, .input_field:focus{
  width: 30vw;
  padding: 20px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 4px 8px 2px #888888;
  outline: 0;
}

.error{
  font-size: 15px;
  color: red;
}

.success{
  font-size: 15px;
  color: green;
}

.ai-c{
  align-items: center;
}

.font1{
  font-family: 'Merriweather', serif;
}

