.header {
    width: 100vw;
    height: 50px;
    /* background-color: black; */
    position: fixed;
    z-index: 1000;
}
.nav {
    color: rgb(226, 219, 219);
    align-self: center;
    font-size: large;
    text-decoration: none;
  }
  
  .nav:hover {
    color: darkgray;
  }
  
  .my_nav {
      display: flex;
    flex: 1;
    padding-right: 100px;
    margin-left: 200px;
    justify-content: space-between;
  }