.features{
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: space-around space-around;
}

.hrline{
    width: 50%;
    height: 3px;
    border-radius: 1000px;
    background-color: black;
    border: 0;
}

.individual:hover .hrline{
    width: 90%;
    transition: 0.5s;
}

.search_map{
    display: flex;
    flex-direction: column;
    position: relative;
}

.map{
    height: 100%;
    width:80%;
    align-self: center;
    object-fit: cover;
    border-radius: 10px;
    
}

.search{
    position: absolute;
    top: 40%;
    left: 50%;
}


