.modal_heading{
    display: flex;
    flex-direction: row;
}

.heading_stars{
    margin-left: 20px;
}

.wishlist{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}

.review{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name_stars{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars{
    margin-left: 5%;
}

.name{
    font-size: larger;
    font-weight: bold;
}

.members{   
    overflow-x: scroll;
    display: flex;
}

.oldage_details{
    margin-left: 2%
}

.facilities {
    margin-left: 2%;
}
